body {
  background-color: #add8e6;
}

.App {
  text-align: center;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h3 {
  color: black;
}

hr {
  border: 2px solid black;
}

#restartButton {
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: #5EB1BF;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

#exitButton {
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #F4E04D;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }

#helpButton {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  background-color: rgb(72, 179, 214);
}

#playButton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: rgba(219, 53, 53, 0.808);
    
}
#mainImage {
  width: 300px;
  height: 300px;
}

#myContainer {
  background-color: white;
}

#tableHeading {
  text-align: center;
  padding-right: 100px;
}
